.pipeline{
    float: left;
}

.pipeline-1{
    width: 400px;
}
.mod-ziduan-list{
    border:1px solid #828282;
    min-height: 295px;
    position: relative;
    margin-left: 22px;
    padding-left: 150px;
}
.mod-ziduan-list .hd{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 300px;
}
.mod-ziduan-list .hd dl{
    margin: 0px;
    background-color: #fff;
}
.mod-ziduan-list .hd dd{
    height: 44px;
    line-height: 44px;
    border-bottom:1px solid #828282;
    width: 150px;
    margin: 0px;
    overflow: hidden;
}
.mod-ziduan-list .hd dd a{
    display: block;
    padding-left: 35px;
    background: transparent url(../../../img/p.png) no-repeat 20px 18px;
}
.mod-ziduan-list .hd dd.selected a{
    background-color: #ffc6c5;
}
.mod-ziduan-list .hd dd a:hover{
    background-color: #ffc6c5;
}
.mod-ziduan-list .hd dd.first{
    border-top:0 none;
}
.mod-ziduan-list .ziduan-items{
    display: none;
    border-left:1px solid #828282;
    min-height: 295px;
    _height:300px;
    margin: 0px;
}
.mod-ziduan-list .ziduan-items.selected{
    display: block;
}
.mod-ziduan-list .ziduan-items dd{
    height: 26px;
    line-height: 25px;
    border-bottom:0px solid #828282;
    width: 165px;
    padding-left: 20px;
    margin: 0px;
    padding-top: 5px;
}
.mod-selected-items{
    width: 300px;
    border: 1px solid #ccc;
    margin-left: 20px;
}
.mod-selected-items .hd{
    background: none!important;
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
}
.mod-selected-items .cc dl{
    margin: 0px;
    padding: 0px;
    margin-bottom: 8px;
}
.mod-selected-items .cc dt{
    padding-left: 20px;
    font-size: 14px;
    background: transparent url(../../../img/p.png) no-repeat 10px 9px;

    height: 24px;
    line-height: 24px;
}
.mod-selected-items .cc dd{
    padding-left: 24px;
    font-size: 12px;
}
.mod-selected-items .cc dd.txt{
    color: #ccc;
}
.mod-baobiao-add .footer{
    padding-bottom: 10px;
}
.ui-form .action{
    padding-left: 40px;
}