.mod-filter{
	padding: 10px 15px;
	border-bottom: dashed #929292 1px;
}
.mod-filter form{
	margin-bottom: 0px;
}
.mod-filter div.second-layer{
	padding-top: 12px;
}
.mod-filter label{
	float: left;
	height: 27px;
	line-height: 25px;
	width: 300px;
}
.mod-filter label span{
	display: inline-block;
	text-align: right;
}
.mod-filter label input,
.mod-filter label select{
	height: 25px;
	border:solid #999 1px;
	padding: 0px;
	width: 150px;
}
.mod-filter input.submit{
	width: 76px;
	height: 25px;
	background: #fd811d;
	border:solid #9c9c9c 1px;
	color: #fff;
	float: right;
}
.pagination{
	margin:0px;
	padding-right: 15px;
	margin-bottom: 10px;
	text-align: right;
}