.table-content .edit,
.table-content .delete{
	cursor: pointer;
}

.mod-options{
	padding: 0px 15px;
	padding-bottom: 15px;
	height: 25px;
	line-height: 25px;
}
.mod-options span{
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0px 10px;
	background-color: #fd811d;
	margin-right:15px;
}
.mod-options span a{
	color:#fff!important;
	text-decoration: none;
}

.mod-dialog .content div{
	text-align: left;
	height: 26px;
	padding: 10px 0px;
}

.mod-dialog .content div.border-bottom{
	border-bottom: solid #ddd 1px;
}
.mod-dialog .content div span{
	display: inline-block;
	height: 26px;
	line-height: 26px;
	padding: 0px 10px;
	float: left;
	 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin-right: 10px;s
}
.mod-dialog .content div span.name{
	background: #d4d4d4;
	color: #fff;
}
.mod-dialog .content div span.save{
	background: #fd9e1d;
	cursor: pointer;
	color:#fff;
}
.mod-dialog .content input,
.mod-dialog .content button{
	color: #6f6f6f;
	float: left;
}
.mod-dialog .content input{
	text-align: center;
	width: 65px;
	height: 24px;
	line-height: 24px;
	padding: 0px;
}