.layout-banner{
    background-color: #f7f7f7;
    padding-top: 70px;
    padding-bottom: 90px;
}
.mod-update-password{
    width: 420px;
    margin: 0 auto;
    min-height: 220px;
    background-color: #fff;
    border:1px solid #9d9d9d;
}
.mod-update-password .wrap{
    padding: 50px 0px;
    padding-bottom: 30px;
}
.mod-update-password .ui-input{
    width: 140px;
}
.ui-form .field .name{
    width: 110px;
    color: #5d5c5c;
}
.ui-form .field .v{
    width: 288px;
}
.ui-form .field .v input{
    font-size: 12px;
    width: 130px;
}
.ui-form .action{
    padding-left: 118px;
    padding-top: 10px;
}
.mod-update-password .field .v .l{
    padding-left: 4px;
}
.mod-update-password .field .v .txt{
    color: #3e6bea;
}
.mod-update-password .field .v .error{
    color: #cc0000;
}