body{
    background-color: #fff;
    font-family: "microsoft yahei";
}
#content{
    -moz-border-radius: 5px;
    width: 1000px;
    margin: 0 auto;
    min-height: 360px;
    margin-bottom: 30px;
    margin-top: 20px;
}
#content .grid{
    width: 1000px;
}

.col-sub{
    width: 200px;
    margin-left: -100%;
    float: left;
    zoom:1;
    min-height: 400px;
    position: relative;
    z-index: 2;
}

.col-main {
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
    min-height: 400px;
}
.col-main .col-main-wrap{
    min-height: 320px;
    border:1px solid #929292;
    margin-left: 210px;
    _width: 790px;
}

.mod-menu{
    width: 198px;
    border:1px solid #929292;
}

.mod-menu .header{
    height: 41px;
    line-height: 41px;
    background: #929292 url(../../img/icon-youku.png) no-repeat 10px 2px;
}
.mod-menu .header h2{
    font-size: 16px;
    color: #fff;
    margin: 0px;
    padding:0px;
    padding-left: 50px;
    line-height: 42px;
}
.mod-menu .content{
}
.mod-menu .menu-item{
    margin: 0px;
    padding:0px;
}
.mod-menu .menu-item dd{
    margin-left: 0px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
}
.mod-menu .menu-item dd.menu-nodes{
    height: auto;
}
.mod-menu .menu-item dd.menu-nodes ul{
    display: none;
}
.mod-menu .menu-item dd.current ul{
    display: block;
}
.mod-menu a.node{
    display: block;
    padding-left:30px;
    border-top:1px solid #aaaaaa;
    background-color: #e7e7e7;
    line-height: 37px;
    font-size: 14px;
}
.mod-menu dd.current a{
    color: #ff7300;
}
.mod-menu .menu-item dd.current li a{
    color: #666;
    background-color: #fff;
}
.mod-menu .menu-item ul{
    margin: 0px;
    list-style: none;
}
.mod-menu .menu-item  li{
    list-style: none;
    display: block;
    margin: 0px;
    padding:0px;
    height: 36px;
}
.mod-menu .menu-item dd.current li{
    background-color: #fff;
}